<app-header>

</app-header>
<div class="wrapper">
    <div class="page-header header-filter">
      <div class="squares square1"></div>
      <div class="squares square2"></div>
      <div class="squares square3"></div>
      <div class="squares square4"></div>
      <div class="squares square5"></div>
      <div class="squares square6"></div>
      <div class="squares square7"></div>
      <div class="container">
        <div class="content-center brand">
          <h1 class="h1-seo">Music</h1>
          <h3>
          Explore our Music Selection
          </h3>
        </div>
      </div>
    </div>
     <div class="main">
      <div class="section section-basic" id="basic-elements">
  </div>
  </div>
<div class="content-center brand">
    <div class="container">
        <h2> Music List</h2>
                <ul>
                    
                    <div  *ngFor = "let mus of music">
                            <li (click)=onSelect(mus.musicID)>
                                {{mus.title}}
                            </li>
                    </div>
            </ul>
   
    <pagination
    class="pagination-danger"
    [(ngModel)]="pagination"
    [totalItems]="100"
    (click)= "pageChange($event.target.text)">
  </pagination>
  
</div>
</div>
<app-footer></app-footer>