.img-fluid {
	max-width: 120%;
	min-width: 100%;
}

.zoom {
	// background: #fff;
	transition: all 0.2s ease-in-out;
	overflow: hidden;
}
.zoom:hover {
	transform: scale(1.05);
	z-index: 1;
	cursor: pointer;
}
.post-body {
	white-space: pre-wrap;
}
