<app-header> </app-header>
<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
            <div class="square square-7" id="square7"></div>
            <div class="square square-8" id="square8"></div>
            <div class="card card-register">
              <div class="card-header">
                <img
                  alt="Card image"
                  class="card-img"
                  src="assets/img/square1-red.png"
                />

                <h4 id="registerTitle" class="card-title">Register</h4>
              </div>
              <div class="card-body">
                <form class="form">
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-single-02"> </i>
                      </div>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Full Name"
                      type="text"
                      (focus)="focus = true"
                      (blur)="focus = false"
                      #userName
                    />
                  </div>
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus1 === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-email-85"> </i>
                      </div>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Email"
                      type="email"
                      (focus)="focus1 = true"
                      (blur)="focus1 = false"
                      #userEmail
                      required
                    />
                  </div>
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus2 === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-lock-circle"> </i>
                      </div>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Password"
                      type="password"
                      (focus)="focus2 = true"
                      (blur)="focus2 = false"
                      #userPwd
                      required
                    />
                  </div>
                </form>
              </div>
              <div class="card-footer">
                <input
                  type="button"
                  class="btn btn-danger btn-round btn-lg"
                  value="Sign Up"
                  (click)="
                    SignUp(userEmail.value, userPwd.value, userName.value)
                  "
                />
              </div>
            </div>
          </div>
        </div>
        <div class="register-bg"></div>
        <div class="square square-1" id="square1"></div>
        <div class="square square-2" id="square2"></div>
        <div class="square square-3" id="square3"></div>
        <div class="square square-4" id="square4"></div>
        <div class="square square-5" id="square5"></div>
        <div class="square square-6" id="square6"></div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
