<app-header>

</app-header>
<div class="wrapper">
    <div class="page-header header-filter">
      <div class="squares square1"></div>
      <div class="squares square2"></div>
      <div class="squares square3"></div>
      <div class="squares square4"></div>
      <div class="squares square5"></div>
      <div class="squares square6"></div>
      <div class="squares square7"></div>
      <div class="container">
        <div class="content-center brand">
          <h1 class="h1-seo">series</h1>
          <h3>
          exploce our series Selection
          </h3>
        </div>
      </div>
    </div>
     <div class="main">
      <div class="section section-basic" id="basic-elements">
  </div>
  </div>
<div class="content-center brand">
    <div class="container">
      <div class="card zoom">
        <div class="container">
        <h1 class="card-header">
            {{serie[0].data.attributes.canonicalTitle}}
        </h1>
        <div class="card-body" style=" overflow: auto;">
        <img
          alt="serie img"
          class="img-fluid rounded shadow-lg "
          src="{{serie[0].data.attributes.img.medium}}"
          style="width: 150px; float: left; margin-right:15px;"
        />
        <p class="cont">
          {{serie[0].data.attributes.synopsis}}
        </p>
        
    </div>
        </div>
     </div>
      
       
        </div>
        </div>
        </div>


<app-footer></app-footer>