<div class="row">
	<div class="d-flex flex-column mb-0 bd-highlight col-lg-3 col-sm-6 col-sm-6">
		<div class="card zoom" [routerLink]="['/movies']">
			<p class="d-block" style="height: 250px; overflow: hidden;">
				<img
					class="img-fluid"
					src="https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=625&q=80"
				/>
				<i class="tim-icons icon-email-85"> </i>

				<!-- <div
					class="noImage d-flex align-items-center text-center"
					style="width: 100% ; height:250px"
					></div> -->
			</p>
			<div class="post-text p-4">
				<h2 class="text-primary">
					Movies
				</h2>
				<p>Pause and Watch</p>
				<p class="btn btn-link btn-primary mr-1">Read more</p>
			</div>
		</div>
	</div>
	<div class="d-flex flex-column mb-0 bd-highlight col-lg-3 col-sm-6 col-sm-6">
		<div class="card zoom" [routerLink]="['/games']">
			<p class="d-block" style="height: 250px; overflow: hidden;">
				<img
					class="img-fluid"
					src="https://images.unsplash.com/photo-1529154691717-3306083d869e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
				/>
				<!-- <div
					class="noImage d-flex align-items-center text-center"
					style="width: 100% ; height:250px"
					></div> -->
			</p>
			<div class="post-text p-4">
				<h2 class="text-primary">
					Games
				</h2>
				<p>Pause and Play</p>
				<p class="btn btn-link btn-primary mr-1">Read more</p>
			</div>
		</div>
	</div>
	<div class="d-flex flex-column mb-0 bd-highlight col-lg-3 col-sm-6 col-sm-6">
		<div class="card zoom" [routerLink]="['/music']">
			<p class="d-block" style="height: 250px; overflow: hidden;">
				<img
					class="img-fluid"
					src="https://images.unsplash.com/photo-1484876065684-b683cf17d276?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
				/>
				<!-- <div
					class="noImage d-flex align-items-center text-center"
					style="width: 100% ; height:250px"
					></div> -->
			</p>
			<div class="post-text p-4">
				<h2 class="text-primary">
					Music
				</h2>
				<p>Pause and Vibe</p>
				<p class="btn btn-link btn-primary mr-1">Read more</p>
			</div>
		</div>
	</div>
	<div class="d-flex flex-column mb-0 bd-highlight col-lg-3 col-sm-6 col-sm-6">
		<div class="card zoom" [routerLink]="['/books']">
			<p class="d-block" style="height: 250px; overflow: hidden;">
				<img
					class="img-fluid"
					src="https://images.unsplash.com/photo-1562232573-0305012a8818?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"
				/>
				<!-- <div
					class="noImage d-flex align-items-center text-center"
					style="width: 100% ; height:250px"
					></div> -->
			</p>
			<div class="post-text p-4">
				<h2 class="text-primary">
					Books
				</h2>
				<p>Pause and Read</p>
				<p class="btn btn-link btn-primary mr-1">Read more</p>
			</div>
		</div>
	</div>
</div>
