<app-header>

</app-header>

<div class="content-center brand">
    <div class="container">
        <h2> Games List</h2>
                <ul>
                    
                    <div *ngFor = "let game of games.results">
                            <li>
                                {{game.name}}
                            </li>
                    </div>
            </ul>
   
    <pagination
    class="pagination-danger"
    [(ngModel)]="pagination"
    [totalItems]="100"
    (click)= "pageChange($event.target.text)">
  </pagination>
  
</div>
</div>
<app-footer></app-footer>
