<app-header> </app-header>
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">Books</h1>
        <h3>
          explore our Books Selection
        </h3>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section section-basic" id="basic-elements"></div>
  </div>
  <div class="content-center brand">
    <div class="container">
      <div class="card zoom">
        <div class="container">
          <h1 *ngIf="book" class="card-header">
            {{ book.canonicalTitle }}
          </h1>
          <div class="card-body" style="overflow: auto;">
            <img
              *ngIf="book"
              alt="book img"
              class="img-fluid rounded shadow-lg"
              src="{{ book.img.medium }}"
              style="width: 150px; float: left; margin-right: 15px;"
            />
            <p *ngIf="book" class="cont">
              {{ book.synopsis }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<app-star collectionName="book"></app-star>
<app-comment collectionName="book"></app-comment>
<br />
<app-footer></app-footer>
