

  
  .icon {
   
  
    color: #f5365c;
    
  }
  


.input-group-prepend .input-group-text {
  background-color: white;
}
.input-group-prepend .input-group-text:focus {

  border-color: #e14eca;
}
.form-control{
  background-color: white;
  color: black;
}
.input-group{
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.res {
  max-height:0px;
  max-height: 250px;
	font-size: 13px;
	margin-bottom: 15px;
  text-overflow: ellipsis;

  
}
/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #1f2251;
	border-radius: 0.875rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #32325d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #32325d;
}
.resultItem{
  color: white;
}
.liste:hover {
  background-color: #ff8d72;
}