<app-header>
</app-header>
<div class="wrapper">
    <div class="page-header header-filter">
      <div class="squares square1"></div>
      <div class="squares square2"></div>
      <div class="squares square3"></div>
      <div class="squares square4"></div>
      <div class="squares square5"></div>
      <div class="squares square6"></div>
      <div class="squares square7"></div>
      <div class="container">
        <div class="content-center brand">
          <h1 class="h1-seo">Movies</h1>
          <h3>
          Explore our Movies Selection
          </h3>
        </div>
      </div>
    </div>
     <div class="main">
      <div class="section section-basic" id="basic-elements">
  </div>
  </div>
<div class="content-center brand">
<div class="container">
    <h2> Movies List</h2>
    <ul>
        
        <div *ngFor = "let movie of movies">
                <li (click)=onSelect(movie.id)>
                    {{movie.title}} {{movie.id}}
                    <img src="{{movie.img}}" height="60">
                </li>
        </div>
</ul>



<ngb-pagination 
[collectionSize]="500"


 [(page)]="page"
 (pageChange)="pageChanged($event)"
 [maxSize]="5" 
 [rotate]="true"
 [ellipses]="false"
[boundaryLinks]="true">
</ngb-pagination>

</div>
</div>
<app-footer> </app-footer>