<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">Pause•</h1></div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> Movies </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']"> Series </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']"> Music </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']"> Games </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/books']"> Books </a>
            </li>
           
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/contact-us?ref=blkdsa-footer">
                Account
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/about-us?ref=blkdsa-footer">
               About Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/profile.php?id=100017206339226">
               Slama
              </a>
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/in/haythem-bahri-710850146/">
               Bahri 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/in/mohamed-nouri-80396515b/">
                Nouri
              </a>
              <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/donia-allani/">
                 Allani 
                </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">ISSATSO</h3>
          <div class="btn-wrapper profile">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="http://www.issatso.rnu.tn/fo/index.php"
              
            >
              <i class="fab fa-chrome"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://www.facebook.com/IssatSo"
              
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="https://www.youtube.com/channel/UCVbsQWnMP6ZsGy5zonJPg4Q"
              
            >
              <i class="fab fa-youtube"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer> 
