<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">Pause•</h1></div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> {{ 'demo.home' | translate }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> {{ 'demo.movies' | translate }} </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']">{{ 'demo.series' | translate }} </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']"> {{ 'demo.music' | translate }} </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']">{{ 'demo.games' | translate }} </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/books']">{{ 'demo.books' | translate }}</a>
            </li>
           
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/contact-us?ref=blkdsa-footer">
                {{ 'demo.compte' | translate }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/about-us?ref=blkdsa-footer">
                {{ 'demo.About Us' | translate }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/profile.php?id=100017206339226">
               Slama
              </a>
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/in/haythem-bahri-710850146/">
               Bahri 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/in/mohamed-nouri-80396515b/">
                Nouri
              </a>
              <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/donia-allani/">
                 Allani 
                </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">ISSATSO</h3>
       <div class="btn-wrapper profile">
           <!--  <a
            class="btn btn-icon btn-twitter btn-round btn-lg mr-1"
            id="twitter"
          >
            <i class="fab fa-twitter"> </i>
          </a>
          <a
            class="btn btn-icon btn-facebook btn-round btn-lg mr-1"
            id="facebook"
          >
            <i class="fab fa-facebook-square"> </i>
          </a>
          <a
            class="btn btn-icon btn-github btn-round btn-lg"
            href="https://github.com/creativetimofficial"
            target="_blank"
          >
            <i class="fab fa-github"> </i>
          </a> -->  

            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="http://www.issatso.rnu.tn/fo/index.php"
              
            >
              <i class="fab fa-chrome"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://www.facebook.com/IssatSo"
              
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="https://www.youtube.com/channel/UCVbsQWnMP6ZsGy5zonJPg4Q"
              
            >
              <i class="fab fa-youtube"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer> 
