<app-header>

</app-header>
<div class="wrapper">
    <div class="page-header header-filter">
      <div class="squares square1"></div>
      <div class="squares square2"></div>
      <div class="squares square3"></div>
      <div class="squares square4"></div>
      <div class="squares square5"></div>
      <div class="squares square6"></div>
      <div class="squares square7"></div>
      <div class="container">
        <div class="content-center brand">
          <h1 class="h1-seo">Games</h1>
          <h3>
          Explore our Games Selection
          </h3>
        </div>
      </div>
    </div>
     <div class="main">
      <div class="section section-basic" id="basic-elements">
  </div>
  </div>
<div class="content-center brand">
    <div class="container">
        
                <ul>
                    
                    <div *ngFor = "let gam of game">
                            <li>
                                <h2>{{gam.results.name}}</h2>
                            </li>
                    </div>
            </ul>
   
  
</div>
</div>
<app-footer></app-footer>
