<app-header> </app-header>
<div class="wrapper">

	<div class="page-header header-filter">
		<div class="squares square1"></div>
		<div class="squares square2"></div>
		<div class="squares square3"></div>
		<div class="squares square4"></div>
		<div class="squares square5"></div>
		<div class="squares square6"></div>
		<div class="squares square7"></div>
		<div class="container">
			<div class="content-center brand">
				<h1 class="h1-seo">{{ 'demo.music' | translate }}</h1>
				<h3>
					{{ 'demo.EXM' | translate }}
				</h3>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="section section-basic" id="basic-elements"></div>
	</div>
	<div class="content-center brand">
		<div class="container" *ngIf="!loading">
			<div class="row justify-content-between">
				<div class="col-md-6">
					<p
						class="flex"
						style="
							display: flex;
							align-content: center;
							justify-content: center;
							height: 250px;
							overflow: hidden;
						"
					>
						<img
							class="img-fluid"
							src="{{ song.album.cover_xl || song.album.cover }}"
						/>
					</p>
				</div>
				<div class="col-md-5">
					<h1 class="display-4 song-title text-left text-primary">
						<span class="text-secondary">{{ 'demo.titreF' | translate }}:</span> {{ song.title }}
					</h1>
					<h1 class="display-4 song-title text-left text-primary">
						<span class="text-secondary">{{ 'demo.Artist' | translate }}:</span> {{ song.artist.name }}
					</h1>
					<h1 class="display-4 song-title text-left text-primary">
						<span class="text-secondary">{{ 'demo.Released' | translate }}:</span>
						{{ song.release_date | date }}
					</h1>
					<h1 class="display-4 song-title text-left text-primary">
						<span class="text-secondary">Album:</span>
						{{ song.album.title }}
					</h1>
				</div>
			</div>
		</div>
	</div>
	<br />
	<app-star collectionName="music"></app-star>
	<br />
	<app-footer></app-footer>

</div>
