<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-plain">
          <div class="card-header">
            <h1 class="profile-title text-left">Contact</h1>
            <h5 class="text-on-back">PAUSE</h5>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label> Your Name </label>
                    <input class="form-control" type="text" value="Mike" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label> Email address </label>
                    <input
                      class="form-control"
                      placeholder="mike@email.com"
                      type="email"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label> Phone </label>
                    <input
                      class="form-control"
                      type="text"
                      value="001-12321345"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label> Company </label>
                    <input
                      class="form-control"
                      type="text"
                      value="CreativeTim"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label> Message </label>
                    <input
                      class="form-control"
                      placeholder="Hello there!"
                      type="text"
                    />
                  </div>
                </div>
              </div>
              <button
                class="btn btn-danger btn-round float-right"
                placement="right"
                type="submit"
              >
                Send text
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4 ml-auto">
        <div class="info info-horizontal">
          <div class="icon icon-danger">
            <i class="tim-icons icon-square-pin"> </i>
          </div>
          <div class="description">
            <h4 class="info-title">Find us at the office</h4>
            <p>
              Bld Mihail Kogalniceanu, nr. 8, <br />

              7652 Bucharest, <br />

              Romania
            </p>
          </div>
        </div>
        <div class="info info-horizontal">
          <div class="icon icon-danger">
            <i class="tim-icons icon-mobile"> </i>
          </div>
          <div class="description">
            <h4 class="info-title">Give us a ring</h4>
            <p>
              Michael Jordan <br />

              +40 762 321 762 <br />

              Mon - Fri, 8:00-22:00
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
