<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        placement="bottom"
        [routerLink]="['/home']"
        tooltip="Designed and Coded by Creative Tim"
      >
        <span> Pause• </span> Multi Entertainment
      </a>
      <button
        aria-controls="navigation-index"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed"
        (click)="isCollapsed = !isCollapsed"
        id="navigation"
        type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
      id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> Pause• </a></div>
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a
            class="nav-link"
            [routerLink]="['/movies']"
            placement="bottom"
            tooltip="View Our Movies Selection"
          >
            <p class="">Movies</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            [routerLink]="['/series']"
            placement="bottom"
            tooltip="View Our Series Selection"
          >
            <p class="">Series</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            [routerLink]="['/music']"
            placement="bottom"
            tooltip="View Our Music Selection"
          >
            <p class="">Music</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            routerLink="/games"
            placement="bottom"
            tooltip="View Our Games Selection"
          >
            <p class="">Games</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            [routerLink]="['/books']"
            placement="bottom"
            tooltip="View Our Books Selection"
          >
            <p class="">Books</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">PAUSE•</h1>
        <h3>
          You Only Live Once, So Make It Count
        </h3>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section section-basic" id="basic-elements">
      <img class="path" src="assets/img/path1.png" />

      <div class="container"></div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">Pause•</h1></div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> Movies </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']"> Series </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']"> Music </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']"> Games </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/books']"> Books </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://creative-tim.com/contact-us?ref=blkdsa-footer"
              >
                Account
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://creative-tim.com/contact-us?ref=blkdsa-footer"
              >
                About us
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www.facebook.com/profile.php?id=100017206339226"
              >
                Slama
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www.linkedin.com/in/haythem-bahri-710850146/"
              >
                Bahri
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www.linkedin.com/in/mohamed-nouri-80396515b/"
              >
                Nouri
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www.linkedin.com/in/donia-allani/"
              >
                Allani
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">ISSATSO</h3>
          <div class="btn-wrapper profile">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="http://www.issatso.rnu.tn/fo/index.php"
            >
              <i class="fab fa-chrome"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://www.facebook.com/IssatSo"
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="https://www.youtube.com/channel/UCVbsQWnMP6ZsGy5zonJPg4Q"
            >
              <i class="fab fa-youtube"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
